@keyframes slidein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.edit-new-task {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(185, 184, 181, 0.301);
  animation: slidein 0.5s forwards ease-out;
  overflow: hidden;
}

.head-popup{
  max-width:961px ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  button{
    font-size: 24px;
  }
}

.add-task-popup {
  width:  80%;
  height: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.add-task-popup-headline {
  width: 100%;
  font-size: 61px;
  font-family: inter;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 1310px) {
  .add-task-popup-headline{
    margin: 0;
  }
  .add-task-popup{
    padding: 0 24px;
    overflow: hidden;
  }
}

@media screen and (max-height: 600px) {
  .add-task-popup form{
    height: 65%;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 820px) {
  .add-task-popup-headline {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .add-task-popup {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
  .head-popup{
    padding-top: 20px;
  }
  .form-addtask{
    height: 65% !important;
  }
}
