.add-task-headline {
    width: 278px;
    height: 73px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 30px;
    font-size: 61px;
    line-height: 73.2px;
    font-family: inter;
    font-weight: 700;
}

.main-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.add-task-fields-left-content {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.add-task-field-title {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-headlines {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: default;
}

.add-task-star {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color:#FF8190;
}

.input-field-title {
    height: 48px;
    display: flex;
}

.add-task-inputfields {
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
}

.add-task-inputfields::placeholder {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(209, 209, 209, 1);
}

.add-task-field-description {
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textarea-field-description {
    height: 136px;
}

.add-task-description {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 18px 16px 18px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.add-task-description::placeholder {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(209, 209, 209, 1);
}

.add-task-contacts-assign {
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.add-task-seperator {
    width: 1px;
    height: 424px;
    background-color: #D1D1D1;
}

.add-task-fields-right-content {
    width: 440px;
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-task-date {
    width: 440px;
    height: 48px;
    display: flex;
}

.add-task-due-date {
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    border-color: rgba(209, 209, 209, 1);
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
}

.add-task-prio {
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-prio-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.task-icon-urgent {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.task-icon-urgent-clicked {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 61, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.task-icon-urgent img {
    width: 20px;
    height: 14.51px;
}

.task-icon-urgent:hover {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}

.task-icon-medium {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.task-icon-medium-clicked {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 168, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.task-icon-medium img {
    width: 20px;
    height: 10.45px;
}

.task-icon-medium:hover {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}

.task-icon-low {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.task-icon-low-clicked {
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(122, 226, 41, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.task-icon-low:hover {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;;
}

.add-task-category {
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-category-text {
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.add-task-category-text:hover {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}

.category-arrow-down {
    height: 24px;
    width: 24px;
}

.category-arrow-down:hover {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color:#0c2e621f;
}

.select-category {
    width: 440px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: -26px;
}

.category-task-technical {
    padding: 20px 16px 12px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer; 
}

.category-task-user-story {
    padding: 20px 16px 12px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer; 
}

.category-task-technical:hover, .category-task-user-story:hover {
    background-color:#0c2e621f;
}

.add-task-subtasks {
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task-subtasks-select {
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.inpufield-subtask {
    border: none;
    width: 100%;
    height: 24px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

.inpufield-subtask::placeholder {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.add-subtask-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-subtask-icon-img {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.add-subtask-icon:hover {
    border-radius: 50%;
    background-color:#0c2e621f;
}

.list-subtasks {
    width: 440px;
    height: 32px;
    box-sizing: border-box;
    padding: 6px 16px 6px 16px;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.add-task-footer {
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-top: 160px;
}

.text-required {
    width: 170px;
    height: 27px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-task-footer-buttons {
    width: 309px;
    height: 56px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
}

.add-task-clear {
    width: 110px;
    height: 56px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
}

.create-x {
    height: 17px;
    position: relative;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(42, 54, 71, 1);
    transform-origin: center;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(-45deg);
}

.button-create-task {
    width: 183px;
    height: 56px;
    font-family: inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    border-radius: 10px;
    padding: 16px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  
  .button-create-task img {
    width: 15.49px;
    height: 11.22px;
  }
  
  .add-task-clear:hover {
    border: 1px solid #29abe2;
    color: #29abe2; 
  }
  
  .add-task-clear:hover .line {
    background-color: #29abe2;
  }
  
  .button-create-task:hover {
    background-color: #29abe2;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px;
    animation: forwards 100ms ease-in-out;
  }

  .shadow-box {
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.d-none {
    display: none;
} 

.all-subtasks {
    display: flex;
    justify-content: space-between;
}

.list-subtasks {
    width: 440px;
    height: 32px;
    box-sizing: border-box;
}

.subtask-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.subtask-icon-edit {
    width: 18.28px;
    height: 18.25px;
    cursor: pointer;
}

.subtask-icon-delete {
    width: 16px;
    height: 18px;
    cursor: pointer;
}

.subtask-seperator {
    height: 24px;
    border: solid 1px rgba(209, 209, 209, 1);
}