.bg-0{
    background-color: orange;
}
.bg-1{
    background-color: greenyellow;
}
.bg-2{
    background-color: blue;
}
.bg-3{
    background-color: violet;
}
.bg-4{
    background-color: lightcoral;
}
.bg-5{
    background-color: khaki;
}
.bg-6{
    background-color: turquoise;
}
.bg-7{
    background-color: darkgoldenrod;
}
.bg-8{
    background-color: brown;
}
.bg-9{
    background-color: green;
}