body {
  height: 100vh;
}
h3 {
  font-size: 61px;
  margin: 0;
  font-weight: 700;
}

.content {
  overflow: hidden;
  padding-bottom: 20px;
  flex: 1;
}
.board-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 64px 0px 64px;
}
.board-headline {
  display: flex;
}
.board-headline h1 {
  font-size: 61px;
  margin: 0;
}
.board-add-task-repo {
  display: none;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
}

.board-search-add-task {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.board-search {
  max-width: 312px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(168, 168, 168, 1);
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.board-search-input {
  max-width: 232px;
  height: 32px;
  border: none;
  font-family: inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: text;
}

.board-search-input::placeholder {
  font-family: inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(209, 209, 209, 1);
  display: flex;
  align-items: center;
}

.board-search-input:focus {
  outline: none;
}

.board-search-icons {
  width: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

.search-seperator {
  height: 100%;
  width: 1px;
  background-color: rgba(209, 209, 209, 1);
}

.search-icon {
  width: 17.58px;
  height: 17.58px;
}

.board-add-task-button {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 21px;
  border: 1px solid;
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.create-plus {
  height: 18.67px;
  position: relative;
}

.line-x {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  transform-origin: center;
}

.line3 {
  height: 18.67px;
  transform: rotate(90deg);
}

.line4 {
  height: 18.67px;
  transform: rotate(180deg);
}

.board-add-task-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
  border: 1px;
  animation: forwards 100ms ease-in-out;
}

#boardMenu {
  height: 100%;
  padding: 30px 64px 0px 64px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
  overflow: hidden;
}

.board-menu-tasks {
  width: 246px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.square-button {
  width: 24px;
  height: 24px;
  display: flex;
  border: 2px solid rgba(42, 54, 71, 1);
  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.line-plus-icon {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(42, 54, 71, 1);
  transform-origin: center;
}

.square-button:hover {
  border: 2px solid #29abe2;
  img {
    filter: brightness(0) invert(56%) sepia(86%) saturate(541%)
      hue-rotate(157deg) brightness(91%) contrast(90%);
  }
}

.task {
  display: flex;
  flex-direction: column;
}

.board-tasks {
  height: 592px;
  display: flex;
  flex-direction: column;
}

.aktiv-tasks {
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.no-tasks {
  margin-top: 30px;
  background-color: #e7e7e7;
  border: 1px dotted #a8a8a8;
  height: 48px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.no-tasks::before {
  content: "No tasks To do";
}
.board-content {
  margin-top: 30px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.category {
  background-color: #0038ff;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  width: fit-content;
  border-radius: 10px;
}
.title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  text-align: start;
}
.description {
  margin: 8px 0 16px 0;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
}
.progressbar-status {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
}
.contact-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.board-contacts {
  display: flex;
}
.shortcut {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  position: relative;
}
.shortcut:not(:first-child) {
  margin-left: -5px;
}

.detail-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.detail-card-body {
  background-color: white;
  width: 33%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 48px 40px;
  font-size: 20px;
  font-weight: 400;
}
.card-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.theme-info {
  display: flex;
  gap: 24px;
}
.card-theme {
  color: #2a3647;
}
.d-card-contact {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 7px;
}
.detail-prio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-subtask {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 16px;
}
.prepare-detail {
  width: 100%;
  display: flex;
  justify-content: end;
  button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }
}
.separator-grey {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
}
.detail-card-edit-body{
  background-color: white;
  width: 33%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  font-size: 20px;
  font-weight: 400;
}
.form-edit{
  display: grid;
  height: 100%;
  gap:40px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.edit-card-head{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.input-fields-edit{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: inter;
}
#editCardDescription{
  min-height: 100px;
  resize: vertical;
  font-family: inter;
}

#editCardDueDate{
  font-family: inter;
}

#editSubtasks{
  border: none;
  font-size: 19px;
}

#btnEditDetailCard{
  padding: 16px;
  width: max-content;
  justify-self: end;
}

.edit-subs{
  display: flex;
  width: 100%;
  justify-content: space-between;
  img{
    width:14px ;
    padding: 8px;
  }
  img:hover{
    background-color: #D1D1D1;
    border-radius: 50%;
    cursor: pointer;
  }
}
.edit-border{
  border-radius:10px;
  border: 1px solid #D1D1D1;
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 19px;
}

.task-icon{
    width: 136px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(209, 209, 209, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
.prio-buttons{
  display: flex;
  justify-content: space-evenly;
  :hover{
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.prio-medium-mark{
  background-color: #FFA800;
  color: white;
}
.prio-urgent-mark{
  background-color: #FF3D00;
  color: white;
}
.prio-low-mark{
  background-color: #7AE229;
  color: white;
}

@media screen and (max-width: 1500px) {
  h3{
    font-size: 52px;
  }
 
  #boardMenu {
    flex-direction: column;
    padding-bottom: 30px;
    overflow: auto;
  }
  .task {
    width: 100%;
    margin-top: 24px;
  }
  .aktiv-tasks {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    margin-top: 0;
  }
  .content {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .board-menu-bar {
    padding: 0;
  }
  .board-add-task {
    display: none;
  }
  .board-add-task-repo {
    display: flex;
  }
  .board-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .board-header {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .board-search-add-task {
    width: 100%;
  }
  .board-search-input {
    width: 100%;
    height: auto;
  }
  .board-search {
    height: 24px;
    width: 100%;
    max-width: none;
    padding: 0 16px;
  }
  .board-content {
    margin-bottom: 10px;
    min-width: 250px;
  }
  main{
    height: 100vh;
  }
  .o-h{
    overflow: unset;
  }
  .board-headline h1{
    font-size: 36px;
  }
  .d-card-contact {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .detail-card-body{
    font-size: 16px;
    gap: 8px;
    height: 70%;
    width: 80%;
  }
}
