.detail-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(128, 128, 128, 0.199);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.detail-card-body {
  background-color: white;
  width: 33%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 48px 40px;
  font-size: 20px;
  font-weight: 400;
}
.card-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  button {
    font-size: 24px;
  }
}

.card-head button:hover {
  background-color: #2a3647;
  color: white;
}

.theme-info {
  display: flex;
  gap: 24px;
}
.card-theme {
  color: #2a3647;
}
.d-card-contact {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 7px;
}
.detail-prio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-subtask {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 16px;
}

#changeStatus {
  display: none;
  gap: 8px;
  select {
    width: fit-content;
    padding: 8px;
    font-family: inter;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid #d1d1d1;
    option {
      font-family: inter;
      font-weight: 500;
    }
  }
}

.prepare-detail {
  width: 100%;
  display: flex;
  justify-content: end;
  button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px;
  }
}

.prepare-detail button:hover {
  background-color: #2a3647;
  color: white;
  img {
    filter: brightness(0) invert(100%);
  }
}

.separator-grey {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
}
.detail-card-edit-body {
  background-color: white;
  width: 33%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  font-size: 20px;
  font-weight: 400;
}
.form-edit {
  display: grid;
  height: 100%;
  gap: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.edit-card-head {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  button {
    font-size: 24px;
  }
}

.edit-card-head button:hover {
  background-color: #2a3647;
  color: white;
}

.input-fields-edit {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: inter;
  font-size: 19px;
}
#editCardDescription {
  min-height: 100px;
  resize: vertical;
  font-family: inter;
}

#editCardDueDate {
  font-family: inter;
}

#btnEditDetailCard {
  padding: 16px;
  width: max-content;
  justify-self: end;
  position: sticky;
  bottom: 0;
}

.edit-subs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  img {
    width: 14px;
    padding: 8px;
  }
  img:hover {
    background-color: #d1d1d1;
    border-radius: 50%;
    cursor: pointer;
  }
}
.edit-border {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 19px;
}

.task-icon {
  width: 136px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  box-sizing: border-box;
}
.prio-buttons {
  display: flex;
  justify-content: space-evenly;
  :hover {
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.prio-medium-mark {
  background-color: #ffa800;
  color: white;
}
.prio-urgent-mark {
  background-color: #ff3d00;
  color: white;
}
.prio-low-mark {
  background-color: #7ae229;
  color: white;
}
#dropdownEditContacts {
  position: relative;
}
#editCardContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#editChosenContact {
  display: flex;
}

#editCardContact img {
  transform: rotate(180deg);
}
.selected-contact {
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  padding: 8px;
}
.edit-dropdown {
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 999;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  gap: 8px;
  button {
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  button:hover {
    background-color: #a8a8a8;
    border-radius: 5px;
  }
}

.dropdown-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}

#subtaskList {
  max-height: 100px;
  overflow-y: auto;
}

.edit-subtask {
  display: flex;
  justify-content: space-between;
}

.edit-subtask-buttons {
  display: flex;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  button:hover {
    background-color: #2a3647;
    color: white;
    img {
      filter: brightness(0) invert(100%);
    }
  }
}

.btn-disabled {
  cursor: not-allowed !important;
  color: rgba(128, 128, 128, 0.349) !important;
  img {
    filter: brightness(0) invert(50%);
  }
}
.btn-disabled:hover {
  background-color: transparent !important;
  img {
    filter: brightness(0) invert(50%) !important;
  }
}

@media screen and (max-width: 1110px) {
  #boardMenu {
    padding: 0;
  }
  #changeStatus {
    display: grid;
  }
  .detail-card-body {
    font-size: 16px;
    gap: 8px;
    height: 70%;
    width: 60%;
    overflow-y: auto;
  }

  .detail-card-edit-body {
    font-size: 16px;
    gap: 8px;
    height: 70%;
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  #changeStatus {
    display: grid;
  }
  .detail-card-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: unset;
  }
  .detail-card-edit-body {
    width: 100%;
    height: 100%;
    padding: 8px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .edit-card-head {
    padding-top: 20px;
  }
  .task-icon {
    font-size: 16px;
    width: 136px;
    img {
      object-fit: scale-down;
    }
  }
}

@media screen and (max-width: 420px) {
  .task-icon {
    font-size: 16px;
    width: fit-content;
  }
}
