.o-h{
  overflow: hidden;
}
main{
  height: 100vh;
}
h3 {
  margin: 0;
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 8px;
}
h4 {
  font-size: 20px;
  font-weight: 400;
}
#contactList {
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
}
.contacts {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.add-contact {
  padding: 12px 0;
  width: 100%;
  max-width: 350px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding-left: 16px;
    box-sizing: border-box;
  }
}
.first-letter {
  padding: 17px 32px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
}
.contact-name {
  padding: 15px 24px;
  display: flex;
  align-items: center;
  gap: 35px;
  width: 100%;
  margin-top: 8px;
}
.contact-name:hover {
  background-color: #2a3647;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0 0 0 0.25);
  border-radius: 10px;
}
.chosen-contact{
  background-color: #2a3647;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0 0 0 0.25);
  border-radius: 10px;
}
.contact-mail {
  color: #007cee;
  font-size: 16px;
}
.full-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  overflow: hidden;
}
.person-name {
  font-size: 20px;
}
.shortcut-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #d1d1d1;
  border-radius: 50%;
  border: 3px solid white;
}
.small {
  width: 42px;
  height: 42px;
}
.big {
  width: 120px;
  height: 120px;
  font-size: 47px;
}
.contact-list {
  max-width: 350px;
  width: 100%;
  overflow: auto;
}
.contact-title {
  padding: 110px 0 0 30px;
  box-sizing: border-box;
}

@keyframes slideDetailContacts {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.detail-contacts {
  position: relative;
  padding-left: 30px;
  display: block !important;
  animation: slideDetailContacts 1s forwards ease-out;
  button {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
}
.detail-contact-name {
  display: flex;
  gap: 54px;
}
.deatail-information {
  margin-top: 24px;
  a {
    color: #007cee;
  }
}

.btn-prepare-contact:hover {
  color: #29abe2;
  font-weight: 700;
  img {
    filter: brightness(0) invert(56%) sepia(86%) saturate(541%)
      hue-rotate(157deg) brightness(91%) contrast(90%);
  }
}
.text-prepare {
  display: flex;
  overflow: hidden;
  width: 40px;
}

@keyframes viewedit {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.edit-field {
  background-color: rgba(128, 128, 128, 0.2);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation-name: viewedit;
  animation-duration: 1s;
}
@keyframes hideedit {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
.edit-field-reverse {
  background-color: rgba(128, 128, 128, 0.2);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation-name: hideedit;
  animation-duration: 1s;
}
#editHead {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a3647;
  padding: 66px 48px;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  color: white;
  img {
    object-fit: scale-down;
    width: fit-content;
  }
}
.underline-short {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
}

#editDetails {
  padding: 0 48px;
  gap: 32px;
  border-radius: 0 30px 30px 0;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: white;
}
.btn-edit {
  display: flex;
  gap: 24px;
  button {
    padding: 16px;
    font-size: 20px;
  }
}


.succesfull-edit{
  position: relative;
  top: 40px;
  left:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: white;
  width: 326px;
  height: 74px;
  max-width: 326px;
  max-height: 74px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  animation: succesInfo;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
@keyframes succesInfo {
  from{ right: -100%;}
  to{right: 0;}
}