/* tag names */

main {
  display: flex;
  justify-content: center;
}
h1 {
  margin: 0 0 12px 0;
  font-size: 61px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: #29abe2;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* class names */
.center {
  align-items: center;
  flex-direction: column;
}
.login_head {
  display: flex;
  justify-content: end;
  padding: 80px 77px;
  box-sizing: border-box;
  width: 100%;
  img {
    height: 120px;
  }
}
.btn_signup {
  padding: 15px 16px 15px 16px;
  font-size: 16px;
}
.btn_login {
  padding: 15px 24px 15px 24px;
  font-size: 21px;
  font-weight: 700;
}
.overlay {
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 48px 115px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.input_fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.input_value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px 12px 21px;
  box-sizing: border-box;
  width: 422px;
  min-height: 54px;
  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }
  button {
    background-color: transparent;
  }
}
.input_value input::placeholder {
  display: flex;
  align-items: center;
  color: #d1d1d1;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  a {
    text-decoration: none;
    color: #a8a8a8;
  }
  a:hover {
    text-decoration: underline;
  }
}

.check_item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 39px;
}
.check_item_signin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_up {
  display: flex;
  align-items: center;
  gap: 35px;
}

/* id names */
#underline {
  width: 150px;
  height: 3px;
  background-color: #29abe2;
  margin-bottom: 32px;
}
#signUpRespo {
  display: none;
}

#remember {
  padding: 0;
  border-radius: 50%;
}
#remember:hover {
  background-color: rgba(216, 205, 205, 0.26);
}

/* responsive */
@media screen and (max-width: 1159px) {
  h1 {
    font-size: 47px;
  }
  .overlay {
    padding: 32px 0;
  }
  #backLogIn {
    top: 0;
    right: -20px;
  }
  #signUpHeader {
    display: none;
  }
  #signUpRespo {
    display: flex;
    margin: 32px 0;
    justify-content: center;
  }
  .login_head img {
    height: 78px;
  }
  .btn_submit {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .input_fields {
    padding: 0 10px 0 10px;
  }
  .login_head {
    padding: 37px 0 88px 38px;
  }
  .check_item {
    padding-left: 16px;
  }
}

@media screen and (max-height: 800px) {
  h1{
    font-size: 28px ;
  }
  .sign_up_head {
    padding: 16px 32px;
    img{
      height: 36px;
    }
  }
  
  #underline{
    margin-bottom: 8px ;
  }
  .input_value{
    min-height: 0 ;
    padding: 4px ;
    width: 370px;
    input{
      font-size: 16px ;
    }
  }
  .input_value input::placeholder {
    font-size: 16px ;
  }
  .required {
    font-size: 14px;
    height: 16px;
  }
  .input_fields {
    margin-bottom: 0 ;
  }
  .btn_login {
    padding: 8px ;
    font-size: 16px;
  }
  .footer {
    margin-top: 14px ;
    height: auto;
  }
  .btn_submit {
    gap: 8px;
  }
  .login_head {
    padding: 8px 0 42px 38px;
  }
  #signUpRespo {
    margin: 8px 0;
  }
}

@media screen and (max-width: 500px) {
  .input_value {
    width: 100%;
  }

  .sign_up_head {
    padding: 10px 32px;
  }
}