
@media (max-width: 1110px) {
    .ai-center {
      align-items: center;
      justify-content: center;
    }
  
    .content-addtask {
      padding: 0;
    }
  
    .main-section {
      width: 480px;
      height: 100%;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
    }

    .form-addtask {
      max-height: 624px;
    }

    .add-task-headline {
      margin: 0;
      font-size: 41px;
      display: flex;
      justify-content: center;
    }
  
    .add-task-main-headline {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  
    .add-task-seperator {
      display: none;
    }
  
    .contacts-visibility {
      min-height: 135px;
    }
  
    .add-task-footer-content {
      width: 100%;
      padding-left: 0;
      padding-bottom: 60px;
      justify-content: center;
      position: sticky;
      bottom: 0;
      margin-top: 75px;
    }
  
    .add-task-clear {
      display: none;
    }
  
    .main-section::-webkit-scrollbar {
      width: 10px;
    }
  
    .main-section::-webkit-scrollbar-thumb {
      background: #0a1931;
      border-radius: 10px;
    }
  
    .main-section::-webkit-scrollbar-track {
      background: #ffffff;
      height: 50vh;
    }
  }

  @media (max-width: 670px) {
    .main-section {
      width: auto;
      height: 100%;
      scrollbar-width: none;
    }
    .form-addtask {
        height: 90%;
    }
      
    .add-task-main-headline {
      padding-top: 5px;
      padding-bottom: 10px;
    }
      
    .add-task-headline {
      font-size: 21px;
    }
  
    .add-task-fields-left-content {
      width: 310px;
    }
  
    .add-task-fields-right-content {
      width: 310px;
    }
  
    .add-task-date {
      width: 310px;
    }
  
    .add-task-prio-icons {
      height: 45px;
      gap: 7px;
    }
  
    .task-icon-urgent {
      width: 110px;
      font-size: 15px;
    }
  
    .task-icon-urgent-clicked {
      width: 110px;
    }
  
    .task-icon-urgent img {
      width: 14px;
      height: 10.51px;
    }
  
    .task-icon-medium {
      width: 110px;
      font-size: 15px;
    }
  
    .task-icon-medium-clicked {
      width: 110px;
    }
  
    .task-icon-medium img {
      width: 14px;
      height: 6.45px;
    }
  
    .task-icon-low {
      width: 110px;
      font-size: 15px;
    }
  
    .task-icon-low-clicked {
      width: 110px;
    }
  
    .task-icon-low img {
      width: 14px;
      height: 10.51px;
    }
  
    .add-task-footer-buttons {
      justify-content: center;
    }
  
    .created-subtaks {
      padding-left: 5px;
      padding-right: 5px;
    }
    .add-task-footer-content {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      padding-left: 0px;
      padding-bottom: 30px;
    }
  }