h3 {
  margin: 0;
  font-size: 47px;
  font-weight: 500;
}
h4 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
  text-align: center;
}
h5 {
  margin: 0;
  font-size: 64px;
}

#summaryContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  max-width: 560px;
  gap: 20px;
}
.summary-gap {
  display: flex;
  gap: 18px;
  font-size: 16px;
}
.overview-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.field-position {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.summary-field {
  display: flex;
  text-align: center;
  padding: 38px 19px;
  background-color: white;
  border-radius: 30px;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.summary-field:hover {
  background-color: #2a3647;
  color: #ffffff;
}

.icons-dark {
  width: 69px;
  height: 69px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#iconPencil {
  background-image: url(/img/pencil.svg);
}
.summary-field:hover #iconPencil {
  background-image: url(/img/pencil_bright.svg);
}
#iconDone {
  background-image: url(/img/done.svg);
}
.summary-field:hover #iconDone {
  background-image: url(/img/done_bright.svg);
}

.summary-field-long {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 28px 0px;
  border-radius: 30px;
  width: 100%;
}
.summary-field-long:hover {
  background-color: #2a3647;
  color: #ffffff;
}

.summary-field-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  gap: 13px;
}
.summary-field-block:hover {
  background-color: #2a3647;
  color: #ffffff;
}

.separator-grey {
  width: 2px;
  height: 100px;
  background-color: #d1d1d1;
}

.jc-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.actual-date {
  font-size: 16px;
}

@media screen and (max-width: 1159px) {
  h2 {
    font-size: 47px;
  }
  h5 {
    font-size: 48px;
  }
  #greeting {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    top: 80px;
    height: 90%;
    animation: greetingScreen 1s 1s forwards ease-in;
  }
  @keyframes greetingScreen {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100%{
      opacity: 0;
      z-index: -200;
    }
  }
  #summaryContent {
    width: 100%;
    font-size: 14px;
    img {
      width: 40px;
    }
  }
  .overview-content {
    justify-content: center;
  }
  .icons-dark {
    width: 40px;
    height: 40px;
  }
  .summary-gap {
    font-size: 14px;
  }
  .overview-content {
    margin-bottom: 32px;
  }
}
