@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") Format("truetype");
}

body{
    font-family: Inter , sans-serif ;   
    background-color: #F6F7F8;
}
.button_dark{
    border-radius: 8px;
    background-color: #2A3647;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    
}
.button_bright{
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #FFFFFF;
    color: #2A3647;
 }