<header id="header-desktop" class="header-desktop">
    <div class="header-wrapper">
        <div class="headline">Kanban Project Management Tool</div>
            <div id="header-desktop__right-content" class="headline-profile">
                <a href="help.html">
                    <div class="help-logo"><img class="help-logo-img" src="./img/help.svg">
                    </div>
                </a>
            <div id="my-avatar-desktop" class="headline-profile-name" onclick="showOverlayMenu()">
                <div id="userShortcut" class="user-shortcut"></div>
                <div id="menu-bar-avatar" class="overlay-menu-avatar">
                    <a class="avatar-link" href="legal_notice.html"><div class="avatar-menu">Legal Notice</div></a>
                    <a class="avatar-link" href="privacy.html"><div class="avatar-menu">Privacy Policy</div></a>
                    <button class="avatar-menu avatar-link" onclick="logout()" id="btnMenuLogout">Log out</button>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="header-mobile" class="header-mobile">
    <div class="left-content">
        <img class="header-mobile-img" src="./img/join_logo_header.svg">
    </div>
    <div id="header-mobile__right-content" class="right-content">
        <div id="my-avatar-mobile" class="header-mobile-profile" onclick="showOverlayMenu()">
            <div id="userShortcutMobile" class="user-shortcut-mobile"></div>
            <div id="menu-bar-avatar-mobile" class="overlay-menu-avatar">
                <a class="avatar-link" href="help.html"><div class="avatar-menu">Help</div></a>
                <a class="avatar-link" href="legal_notice.html"><div class="avatar-menu">Legal Notice</div></a>
                <a class="avatar-link" href="privacy.html"><div class="avatar-menu">Privacy Policy</div></a>
                <button class="avatar-menu avatar-link" onclick="logout()" id="btnMenuLogoutMobile">Log out</button>
            </div>
        </div>
    </div>
</div>