<div class="max-width pos-sticky-top">
       <div class="menu-bar-desktop">
        <div class="menu-bar-one"><img class="icon-join" src="./img/join_logo.svg"></div>
        <nav class="main-menu">
            <div class="menu-bar-two" id="menuBarDesk">
                <div id="menu-bar-two" class="menu-bar-images">
                    <a id="summary-desk-link" href="summary.html" class="menu-bar-icons"><img class="menu-summary_img"
                        src="./img/summary_icon.svg"><span class="menu-bar-text">Summary</span></a>
                    <a id="add_task-desk-link" href="add_task.html" class="menu-bar-icons"><img class="menu-add-task_img"
                        src="./img/add_task_icon.svg"><span class="menu-bar-text">Add Task</span></a>
                    <a id="board-desk-link" href="board.html" class="menu-bar-icons"><img class="menu-board_img"
                        src="./img/board.icon.svg"><span class="menu-bar-text">Board</span></a>
                    <a id="contacts-desk-link" href="contacts.html" class="menu-bar-icons"><img class="menu-contact_img"
                        src="./img/contact_icon.svg"><span class="menu-bar-text">Contacts</span></a>
                </div>
            </div>
            <div class="menu-bar-three">
                <div id="privacy-link" class="document-wrapper">
                    <a href="privacy.html" class="document-link">Privacy Policy</a>
                </div>
                <div id="legal_notice-link" class="document-wrapper">
                    <a href="legal_notice.html" class="document-link">Legal notice</a>
                </div>
            </div>
        </nav>
    </div>

   
</div>