<div id="menu-bar-mobile" class="menu-bar-mobile">
    <div class="menu-bar-mobile-wrapper" id="menuBarMobile">
        <a id="summary-mobile-link" href="summary.html" class="menu-bar-icons-mobile"><img class="menu-summary_img"
            src="./img/summary_icon.svg">Summary</a>
        <a id="board-mobile-link" href="board.html" class="menu-bar-icons-mobile"><img class="menu-board_img"
            src="./img/board.icon.svg">Board</a>
        <a id="add_task-mobile-link" href="add_task.html" class="menu-bar-icons-mobile"><img class="menu-add-task_img"
            src="./img/add_task_icon.svg">Add Tasks</a>
        <a id="contacts-mobile-link" href="contacts.html" class="menu-bar-icons-mobile"><img class="menu-contact_img"
            src="./img/contact_icon.svg">Contacts</a>
    </div>
</div>