.menu-bar-mobile {
  display: none;
  z-index: 1;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
}

.menu-bar-desktop {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.icon-join {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 100.03px;
  height: 121.97px;
}

.menu-bar-images {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-bar-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 46px;
  gap: 8px;
  user-select: none;
  text-decoration: none;
}

.menu-bar-text {
  width: 72px;
  font-family: Inter;
  font-weight: 400;
  line-height: 19.2px;
  font-size: 16px;
  color: rgba(205, 205, 205, 1);
}

.menu-bar-two {
  width: 100%;
  height: 229px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-bar-three {
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  line-height: 19.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 64px 0;
}

.menu-bar-icons:hover {
  cursor: pointer;
  background-color: #091931;
}

.menu-bar-icons.active {
  background-color: #091931;
  cursor: default;
}

.document-wrapper {
  width: 100%;
  padding: 8px 0;
}

.document-wrapper.active {
  width: 100%;
  background-color: #091931;
}

.document-link {
  padding-left: 60px;
  color: #a8a8a8;
  text-decoration: none;
}

.document-link:hover {
  color: #29abe2;
  font-weight: 700;
}

.document-wrapper.active .document-link:hover {
  cursor: default;
  color: #a8a8a8;
  font-weight: 400;
}

.menu-bar-privacy-policy {
  display: flex;
  align-items: center;
  width: 110px;
  height: 35px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
}

.menu-bar-legal-notice {
  display: flex;
  align-items: center;
  width: 110px;
  height: 35px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
}

.menu-bar-privacy-policy:hover {
  cursor: pointer;
  border-radius: 8px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #2a3d59;
}

.menu-bar-legal-notice:hover {
  cursor: pointer;
  border-radius: 8px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #2a3d59;
}

.document-link.active {
  cursor: default;
}

.document-link.active:hover {
  color: #a8a8a8;
  cursor: default;
}

.menu-summary_img {
  height: 30px;
  width: 30px;
}

.menu-board_img {
  width: 30px;
  height: 30px;
}

.menu-add-task_img {
  width: 30px;
  height: 30px;
}

.menu-contact_img {
  width: 30px;
  height: 30px;
}

.header-mobile {
  display: none;
  z-index: 1;
}
