@media (max-width: 900px) {
  .headline {
    padding-left: 260px;
  }
}

@media (max-width: 1110px) {
  .overlay-menu-avatar {
    transform: translateX(calc(100% + 16px));
    display: flex;
  }

  .left-content {
    height: 39.02px;
    width: 32px;
    padding-left: 16px;
  }

  .header-mobile-img {
    height: 100%;
    width: 100%;
    user-select: none;
  }

  .right-content {
    width: 40px;
    height: 40px;
    padding-right: 16px;
  }

  .menu-bar-desktop {
    display: none;
  }

  .menu-bar-icons-mobile:hover {
    cursor: pointer;
    background-color: #2a3d59;
    border-radius: 16px;
  }

  .menu-bar-icons-mobile.active {
    background-color: #091931;
    border-radius: 16px;
  }

  .menu-bar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    height: 80px;
    position: sticky;
    bottom: 0;
    background-color: #2a3647;
  }

  .menu-bar-mobile-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .menu-bar-icons-mobile {
    width: 76px;
    height: 80px;
    font-family: open-sans-light;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(205, 205, 205, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    user-select: none;
    text-decoration: none;
    padding: 8px;
  }

  .menu-summary_img {
    height: 22px;
    width: 22px;
  }

  .menu-board_img {
    width: 24px;
    height: 24px;
  }

  .menu-add-task_img {
    width: 24px;
    height: 24px;
  }

  .menu-contact_img {
    width: 24px;
    height: 24px;
  }
  .overlay-menu-avatar {
    top: 58px;
  }
}

@media screen and (max-height: 600px) {
  .menu-bar-mobile {
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
  .menu-bar-icons-mobile {
    height: 40px;
  }
  .right-content{
   width: 30px;
   height: 30px; 
  }
}
